# 컴파일된 바이너리
epoll_basic_server
epoll_basic_server_5mode
epoll_basic_server_remenual
epoll_http_worker
epoll_http_worker_noblock
epoll_http_worker_noblocking
epoll_http_workers
epoll_multi_thread_server
http_server
http_server_v1.0
http_server_v2.0
single_server
unified_http_server
xlio_basic_server
xlio_single_server
63
CPU

# 오브젝트 파일
*.o
*.a
